body {text-align: center;
    font-style:oblique;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(5,87,173,1) 60%, rgba(5,96,179,1) 63%, rgba(0,212,255,1) 100%);
    }



h2 {
    text-align: center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.images {
    display: inline-block;
    
    
}

.info {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left {
    box-shadow: 0px 0px 10px;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(205, 227, 247)
}


.center {
    margin-left: 5%;
    margin-right: 5%;
    border-style: hidden;
    box-shadow: 0px 0px 10px;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(205, 227, 247)
}

.right {box-shadow: 0px 0px 10px;
    border-radius: 5%;
    padding: 10px;
    background-color: rgb(205, 227, 247)
}

th {
    color: rgb(6, 82, 56);
}

td {color: rgb(25, 25, 107);}

table {
    border: dashed;
    border-color: rgb(233, 202, 159);
}

.ending {
    margin: 40px;
}

img {
    border-radius: 5%;
    box-shadow: 0px 0px 5px;
}

a {
    color: aliceblue;
}

small {
    color: antiquewhite;
}