/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --globalFontSize:20px;
    --myFavouriteColor:#faf8f8;

}
body {
    background: -o-linear-gradient(54deg, rgba(64,60,60,1) 0%, rgba(255,0,0,1) 12%, rgba(81,81,115,0.9360119047619048) 29%);
    background: linear-gradient(36deg, rgba(64,60,60,1) 0%, rgba(255,0,0,1) 12%, rgba(81,81,115,0.9360119047619048) 29%);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: sticky;
    top: 1px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 10px;
            box-shadow: 10px 10px 10px;
    background: -o-linear-gradient(54deg, rgba(64,60,60,1) 0%, rgba(255,0,0,1) 12%, rgba(81,81,115,0.9360119047619048) 29%);
    background: linear-gradient(36deg, rgba(64,60,60,1) 0%, rgba(255,0,0,1) 12%, rgba(81,81,115,0.9360119047619048) 29%);
    border-radius: 10px;
    

}
#navicon {
    padding-left: 20px;
}
.rightnav {
    padding-top: 10px;
    display: block;
    padding-right: 20px;
}

.rightnav input{
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;

}
.rightnav input:hover {
    color: rgba(218, 18, 3, 0.397);
}
.rightnav button:hover {
    color: rgba(218, 18, 3, 0.397);

}
.socialMedia {
    width: 70px;
    position: fixed;
    left: 2;
}
.socialMedia a{
    margin-top: 5px;
}
.rightnav button {
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    margin-left: 5px;
}
.rightnav a{
    padding-left: 30px;
    text-decoration: none;
    color: var(--myFavouriteColor);
    text-shadow: 2px 1px 2px;
    font-size: var(--globalFontSize);
}
 h1 {
    color: rgb(6, 233, 6);
 }
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: var(--myFavouriteColor);
    background-color: rgba(53, 54, 54, 0.623);
    border-radius: 5px;
    padding: 20px;
    
}

footer a {
    display: block;
    text-decoration: none;
    font-size: var(--globalFontSize);
    color: var(--myFavouriteColor);
    padding-left: 20px;
}

.intorightfooter {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
}

#register {
    padding: 10px;
}

#name {
    padding: 10px;
}
#number {
    padding: 10px;
}